package templates

import "github.com/pynezz/pynezz_com/templates/layout"

script js() {
    // DataStar will handle most interactivity, but we can still add some initialization
    document.addEventListener("DOMContentLoaded", function() {
        // Any global initialization can go here
        console.log("Page loaded with DataStar support");
    });
}

templ Root(content templ.Component, path ...string) {
	<!DOCTYPE html>
	<html lang="en" data-signals="{navOpen: false}">
		@layout.Links()
		<body class="min-h-screen flex flex-col">
			@layout.Header(path...)
			<main class="flex-grow container mx-auto">
				@content	
			</main>
			@layout.Footer()
			@js()
		</body>
	</html>
}
