package layout

const f = "bg-crust w-full h-12 flex items-center justify-center text-text"

templ Footer() {
  <footer class={"footer", f}>
    <p>© 2024 pynezz.dev</p>
    <a href="https://www.github.com/pynezz/" class={navBarItemLink}>
      <img src="/static/svgs/github-icon.svg" class={"img", Icon} />
    </a>
  </footer>
}
